
.navbar{
    height: 60px;
    background-color: rgb(233, 233, 233);    
}

.brand-name img{
    width: 42px;
}
.brand-name h1{
    font-family: logofont;
    font-size: 24px;
}

.board{
    position: relative;   
    background-color: rgb(231, 231, 231);
}

.left-tool-bar{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 48px -21px rgba(0,0,0,0.5);
    height: 100%;
}

.prop-container{
    height: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 48px -21px rgba(0,0,0,0.8);   
}
.tool{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all ease 0.3s;
}
.tool span{
    margin-top: 3px;
    font-size: 11px;
    font-family: montserrat-bold;
}
.tool:hover{
    color: rgb(95, 95, 95);
}

.generate-ai{
    background: rgb(0,54,89);
    background: linear-gradient(135deg, rgb(48, 0, 70) 0%, rgba(0,0,0,1) 78%);
}

.toolbar-prop-container input.color-input{
    width: 28px;
}

.toolbar-prop-container input.text-input{
    width: 200px;
}

.toolbar-prop-container select{
    width: 180px;
}

.toolbar-prop-container span{
    display: inline;
}

